{% block content %}
<div style="text-align: right;">
    <h1 style="font-size:30px; text-align:center;">TRANSFER CERTIFICATE</h1>
    <p style="font-size:15px;text-align:center">This is to certify that I know dd {{TransferCertificate.name_of_student}} s/o {{TransferCertificate.father_name}} & .... resident of ..... for the last .... years. ....... bears good moral character and to the best of my knowledge is not involved in any criminal activity is there. </p>
    <img style="height: 100px;width: 120px;" src="https://previews.123rf.com/images/newdesignillustrations/newdesignillustrations1901/newdesignillustrations190103436/114576422-high-school-stamp-seal-watermark-with-distress-style-blue-vector-rubber-print-of-high-school-title-w.jpg" alt="">
    <p><b>Principal's Signature</b></p>
</div>
{% endblock content %}