{% block content %}
<div style="text-align: right;">
    <br>
    School Affiliation No. 1054-56, GHS-18
    <h2 style="font-size:20px; text-align:center;margin-bottom:0;">BLUE BIRD PUBLIC SCHOOL, JEWAR (G.B.NAGAR) U.P. </h2>
    <h3 style="font-size:17px; text-align:center;">Scholar's Transfer Certificate</h3>
    <p style="text-align: left;font-size:15px;">S.R.No. <b><u>{{TransferCertificate.sr_no}}</u></b><br>
    1. Name of Student <b><u>{{TransferCertificate.name_of_student}}</u></b> Address <b><u>{{TransferCertificate.father_address}}</u></b> <br>
    2. Name Of Father/Guardian <b><u>{{TransferCertificate.father_name}}</u></b> Occupation <b><u>{{TransferCertificate.father_occupation}}</u></b> <br>
    3. Name Of Mother <b><u>{{TransferCertificate.mother_name}}</u></b> Occupation <b><u>{{TransferCertificate.mother_occupation}}</u></b> <br>
    4. Nationality <b><u>{{TransferCertificate.nationality}}</u></b><br>
    5. Caste/Religion <b><u>{{TransferCertificate.caste}} / {{TransferCertificate.religion}}</u></b> <br>
    6. Date Of Birth According To Admission Register (In Figures) <b><u>{{TransferCertificate.date_of_birth| date:"d-f-Y"}} </u></b> (In Words) <b><u>{{TransferCertificate.date_of_birth| date:"d F Y"}}</u></b> <br>
    </p>
    
    
</div>
{% endblock content %}